@import url("https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap");

@import "tailwindcss";

body {
	font-family: 'BIZ UDGothic', sans-serif;
}